// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #174589;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #40484e;
$light-gray: #F4F4F4;

$sand: #b9b9af;
$sand-hover: #c5a367;
$bright-gray: #9ba9b6;
$middle-gray: #5b646c;
