<div class="container">
  <div id="app">
    <div class="title">
      <div class="title-inner">
        <div class="cafe">
          <div class="cafe-inner">LOCA DRIVE</div>
        </div>
        <div class="mozart">
          <div class="mozart-inner" ><%= link_to "Découvrez nos produits !", cars_path, class:"btn btn-primary" %></div>
        </div>
      </div>
    </div>

    <div class="image">
      <%= image_tag 'banner.jpg' %>
    </div>
  </div>

  <script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>
</div>
