@media only screen and (min-width: 390px) {
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: large;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: auto;
  color: white;
}

.nav-item {
  text-decoration-color: rgb(62, 61, 61);
}

.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
}

.nav-link {
  font-size: large;
  font-weight: bolder;
  color: rgb(182, 178, 178);
  transition: 0.8s;
}

.link_list {
  font-size: 25px;
  text-align: left;
  margin: 0;
  padding: 5px 0 0 5px;
  a {
    text-decoration: none;
    color: white;

  }
  a:hover {
    text-decoration: none;
    color: grey;
  }
}
